<h3>Realtime Cataloguing Report</h3>

{% load percent_aut %}

<h3>General Statistics</h3>
Total of cataloguing : <b> {{ bookcount }} </b>
<br>
<br>Number of books catalogued today = <b> {{ catt }} </b>
<br>Number of books catalogued this month = <b> {{ catmonth }} </b>
<br>Number of books catalogued in this current year ( {% now "Y" %} ) = <b> {{ catyear }} </b>
<br><br>

Cataloguing by certain date:<br>

<form action="{% url 'search_results' %}" method="get">
  From <input name="q1" type="date" placeholder="Date from...">
   to <input name="q2" type="date" placeholder="Date to...">
  <input type="submit">
</form>

<h3>Detailed Statistics</h3>

Year of publishing
<table border="1">

    <tr>
        <td><b>Year</b></td>
        <td align="center"><b>Count</b></td>
        <td align="center"><b>Percentage</b></td>
    </tr>
    {% for x in pubyear %}
    <tr>
               
        <td><a href="detail_pubyear/{{ x.publish_year }}">{{ x.publish_year }}</a></td>
        <td align="center">{{ x.pubyearcount }}</td>
        <td align="center">{{ x.pubyearcount|as_percentage_of:bookcount }}</td>
       
       
    </tr>
    {% endfor %}
    </table>


<br>
Type of publisher
<table border="1">

    <tr>
        <td><b>Type of publisher</b></td>
        <td align="center"><b>Count</b></td>
        <td align="center"><b>Percentage</b></td>
    </tr>
    {% for x in typepub %}
    <tr>
               
        <td><a href="detail_publisher/{{ x.publisher_type }}">{{ x.publisher_type }}</a></td>
        <td align="center">{{ x.typepubcount }}</td>
        <td align="center">{{ x.typepubcount|as_percentage_of:bookcount }}</td>
       
       
    </tr>
    {% endfor %}
    </table>

<br>
Genre
    <table border="1">
    
        <tr>
            <td><b>Type of genre</b></td>
            <td align="center"><b>Count</b></td>
            <td align="center"><b>Percentage</b></td>
        </tr>
        {% for x in typegenre %}
        <tr>
                   
            <td><a href="detail_genre/{{ x.genre }}">{{ x.genre }}</a></td>
            <td align="center">{{ x.typegenrecount }}</td>
            <td align="center">{{ x.typegenrecount|as_percentage_of:bookcount }}</td>
           
           
        </tr>
        {% endfor %}
        </table>

<br>
Language
    <table border="1">
    
        <tr>
            <td><b>Language</b></td>
            <td align="center"><b>Count</b></td>
            <td align="center"><b>Percentage</b></td>
        </tr>
        {% for x in lang %}
        <tr>
                   
            <td><a href="detail_language/{{ x.language }}">{{ x.language }}</a></td>
            <td align="center">{{ x.langcount }}</td>
            <td align="center">{{ x.langcount|as_percentage_of:bookcount }}</td>
           
           
        </tr>
        {% endfor %}
        </table>

<br>
Subject
    <table border="1">
            
        <tr>
            <td><b>Subject</b></td>
            <td align="center"><b>Count</b></td>
            <td align="center"><b>Percentage</b></td>
        </tr>
        {% for x in subj %}
            <tr>                     
            <td><a href="detail_subject/{{ x.subject }}">{{ x.subject }}</a></td>
                    <td align="center">{{ x.subjcount }}</td>
                    <td align="center">{{ x.subjcount|as_percentage_of:bookcount }}</td>
                   
                   
                </tr>
                {% endfor %}
                </table>




<br>
<br>Type of authorship
<table border="1">

    <tr>
        <td><b>Authorship</b></td>
        <td align="center"><b>Count</b></td>
        <td align="center"><b>Percentage</b></td>
    </tr>
    {% for x in typeaut %}
    <tr>
               
        <td><a href="detail_authorship/{{ x.authorship_type }}">{{ x.authorship_type }}</a></td>
        <td align="center">{{ x.typeautcount }}</td>
        <td align="center">{{ x.typeautcount|as_percentage_of:bookcount }}</td>
       
       
    </tr>
    {% endfor %}
    </table>
    <br>
<br>


<canvas id="myChart" width="1000" height="600"></canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels : [{% for x in typeaut %}"{{ x.authorship_type }}",{% endfor %}],
          datasets: [{
            label: "Type of authorship chart",
            data : [{% for x in typeaut %}{{ x.typeautcount }},{% endfor %}],
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
          }]
      },
      options: {
        
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  </script>

<!--
<table border="1">

    <tr>
        <td>Record ID</td>
        <td align="center">Title</td>
        <td align="center">Size</td>
    </tr>
    
    
    {% for x in mycatalogue %}
    
    <tr>
      
        <td>{{ x.id }}</td>
        <td>{{ x.title }}</td>
        <td>{{ x.size }}</td>
    </tr>
    {% endfor %}
    </table>
-->
